{:nomad/environments {"dev" {:nomad/private-file #nomad/file "resources/configuration-local.edn"}
                      "production" {:heads-dir "resources/self/heads"
                                    :port 8080}}}
