{:nomad/environments {"dev" {:nomad/private-file #nomad/file "resources/configuration-local.edn"
                             :heads-dir "resources/self/heads"
                             :ip "0.0.0.0"
                             :port 8080
                             :backend :temp-fs}
                      "production" {:heads-dir "resources/self/heads"
                                    :port 8080
                                    :ip "0.0.0.0"
                                    :backend :temp-fs}
                      "travis" {:heads-dir "resources/self/heads"
                                :permanent-fs-root "~/"
                                :port 8080
                                :backend :temp-fs
                                :database {:test {:user "postgres"
                                                  :password ""
                                                  :db "doctopus_test"}}}}
 }
