<form method="POST" class="main">
  <div id="csrf"></div>
  <fieldset>
    <div>
      <label for="head-selector">Belonging to:</label>
      <select id="head-selector" name="head"></select>
    </div>
    <div>
      <label for="tentacle-name">Tentacle Name</label>
      <input type="text" name="name" id="tentacle-name"/>
    </div>
    <div>
      <label for="tentacle-source">Tentacle Source</label>
      <input type="text" name="source" id="tentacle-source"/>
    </div>
    <div>
      <label for="tentacle-command">Tentacle Command</label>
      <input type="text" name="command" id="tentacle-command">
    </div>
  </fieldset>
  <button type="submit" class="btn medium secondary">Save</button>
</form>