<form method="POST">
  <div id="csrf"></div>
  <label for="head-selector">Belonging to:</label>
  <select id="head-selector" name="head"></select><br>
  <label for="tentacle-name">Tentacle Name</label>
  <input type="text" name="name" id="tentacle-name"/><br>
  <label for="tentacle-source">Tentacle Source</label>
  <input type="text" name="source" id="tentacle-source"/><br>
  <label for="tentacle-command">Tentacle Command</label>
  <input type="text" name="command" id="tentacle-command">
  <button type="submit">Save</button>
</form>
