<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Doctopus</title>
        <link rel="stylesheet" href="/assets/styles/css/master.css">
        <link rel="shortcut icon" href="/assets/images/doctopus-favicon.png">
        <script src="//use.typekit.net/txl6yqy.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script type="application/json" id="app-state"></script>
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="/admin">Administration</a></li>
            </ul>
        </nav>
        <h1 class="logo"><a href="/">Doctopus</a></h1>
    </header>
    <body>
        <div id="app-content"></div>
    </body>
    <script src="/assets/scripts/main.js"></script>
</html>
