<div id="doctopus-main">
    <header>
        <h1 class="logo">Doctopus</h1>
    </header>
    <main>
        <section class="module">
            <div class="sub-header">
                <h2>Heads</h2>
                <div class="sub-header-actions">
                    <a href="/add-head" class="btn medium primary">Add a head</a>
                </div>
            </div>
            <ul id="doctopus-heads"></ul>
        </section>
        <section class="module">
            <div class="sub-header">
                <h2>Tentacles</h2>
                <div class="sub-header-actions">
                    <a href="/add-tentacle" class="btn medium primary">Add a tentacle</a>
                </div>
            </div>
            <ul id="doctopus-tentacles"></ul>
        </section>
    </main>
</div>
