{:output-root "docs"
 :html-commands ["mkdir -p docs" "touch docs/index.html"]
 :name "doctopus-test"
 :source-control "git"
 :source-location "https://github.com/Gastove/doctopus.git"
 :entry-point "index.html"}
